body {
    padding: 0; 
    margin: 0;
    background: #E9ECF0;
    color:#32485E;
    font-family: 'Lato';
}

.head {
    position: relative;
    display:inline-block;
    margin: 74px 0 0 74px;
    width: 1199px;
    height: 261px;
}

.avatar {
    float: left;
    position: relative;
    display: inline-block;
    width:  387px;
    height: 263px;
    background: #FEFEFE;
    border-radius: 0px;
}

.info {
    display: inline-block;
    position: relative;
    float: right;
    padding-left: 24px;
    padding-top: 38px; 
    width:  709px;
    height: 225px;
    background: #FEFEFE;
    border-radius: 4px 4px 0 0;
}

.content {
    position: relative;
    display:inline-block;
    margin: 34px 0 30px 74px;
    width: 1201.1px;
    height: 1030px;
}

.leftcontent {
    float: left;
    position: absolute;
    width: 523px;
    display: inline-block;
    height: 100%;
}

.rightcontent {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 41px;
    width:  516px;
    height: 100%;
}

.block1 {
    position: relative;
    display: block;
    width:  100%;
    height:  299px;
    background: #FEFEFE;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block2 {
    position: relative;
    display: block;
    margin-top: 29px;
    width:  100%;
    height:  283px;
    background: #FEFEFE;
}

.block3 {
    position: relative;
    display: block;
    margin-top: 29px;
    width:  100%;
    height:  147px;
    background: #FEFEFE;
}

.block4 {
    position: relative;
    display: block;
    margin-top: 28px;
    width:  100%;
    height:  145px;
    background: #FEFEFE;
}

.block5 {
    position: relative;
    display: block;
    width:  100%;
    height:  140px;
    background: #DAE0E7;  
}

.block6 {
    position: relative;
    display: block;
    margin-top: 28px;
    width:  100%;
    height:  139px;
    background: #DAE0E7;
}

.block8 {
    position: relative;
    display: block;
    margin-top: 15px;
    width:  100%;
    height:  102px;
    background: #DAE0E7;
}

.block7 {
    width: 100%;
    margin-top: 30px;
    border-top: 5px dotted #DAE0E7;
}

.block9 {
    position: relative;
    display: block;
    margin-top: 30px;
    width:  100%;
    height:  103px;
    background: #DAE0E7;
}

.block10 {
    position: relative;
    display: block;
    margin-top: 30px;
    width:  538px;
    height:  344px;
    background: #FEFEFE;
    border-radius: 0 !important;
    padding-left: 18px !important;
    padding-right: 0!important;
}

h2 {
    font-size: 35px;
    font-weight: 100;
}

table {
    margin-left: 2px;
    border-spacing:  0;
    text-align: justify;
}

td {
    padding-top: 21px;
    padding-left: 3px;
    line-height: 1.6;
    width: 51.6%;
    font-size: 17px;
    font-family: "Calibri";
}

.h1 {
    font-family: 'Signika';
}

.avatar div {
    width: 96.7px;
    height: 71px;
    float: left;
    margin-top: 192px;
    color: #FEFEFE;
    font-size: 14px;
    text-align: center;
    line-height: 96px;        
    border-radius: 0px;
}

img {
    position: absolute;
    left: 22px;
    top: 32px;
    width: 132px;
}

.blue {
    position: relative;
    background: #18C3EB url("../img/sym1.png") no-repeat 50% 30%;
}

.red {
    background: #F95250 url("../img/sym2.png") no-repeat 50% 30%;;
}

.green {
    background: #0ECCC0 url("../img/sym3.png") no-repeat 50% 30%;;;
}

.black {
    background: #32485E url("../img/sym4.png") no-repeat 48% 30%;
}

.email {
    font-family: 'Signika';
    position: relative;
    font-size: 20px;
    padding-left: 35px;
    padding-top: 39px;
    line-height: 1;
    text-align: center;
}

.email p {
    letter-spacing: 2px;
    color: #F95250;
}

.bold {
    font-weight:bolder ;
}

.bluefont {
    color: #75D4F1;
}

.avatar p {
    position: absolute;
    left: 49.6%;
    top:16%;
    font-size: 27px;
}

.avatar p span {
    font-size: 17px;
    font-family: "Calibri"
}

hr {
    margin-top:30px;
    width: 242px;
}

.h {
    line-height: 0;
    font-size: 35px;
    padding: 0;
    padding-top: 22px;
    text-align: left;
    letter-spacing: -0.2px;
}

.social {
    position: relative;
}

.social div:nth-child(1) {
    margin-left: -3px;
    background: url("../Img/social.png") no-repeat 0 0;
    background-size: 350px 29px;
}

.content li {
    border-radius: 4px;
}

.social div:nth-child(2) {
    margin-left: 25px;
    background: url("../Img/social.png") no-repeat -60px 0;
    background-size: 355px 31px;
}

.social div:nth-child(3) {
    margin-left: 29px;
    background: url("../Img/social.png") no-repeat -124px 0;
    background-size: 355px 31px;
}

.social div:nth-child(4) {
    margin-left: 35px;
    background: url("../Img/social.png") no-repeat -208px 0;
    background-size: 378px 31px;
}

.social div:nth-child(5) {
    margin-left: 35px;
    background: url("../Img/social.png") no-repeat -264px 0;
    background-size: 356px 31px;
}

.social div:nth-child(6) {
    margin-left: 25px;
    background: url("../Img/social.png") no-repeat -324px 0;
    background-size: 355px 31px;
}

.social div {
    width: 36px;
    height: 33px;
    margin-top: 13px;
    float: left;
}

.content .h1 span:nth-child(1) {
    margin-left: 6px;
    font-family: "Lato";
    font-size: 16px;
    text-align: left;
    color: #C2C8D0;
    word-spacing: -1;
}

 .h1 span:nth-child(3) {
    font-family: "Signika Negative";
    font-size: 19px;
    text-align: left;
    color: #0ECCC0;
    word-spacing: 0;
}

.leftcontent li {
    padding: 2px 21px;
}

.block1 li, .block2 li {
    list-style: none;
    background: url("../Img/marker.png") no-repeat 4px 3px;
    padding-left: 28px;
    padding-right: 0px;
    background-size: 16px 14px;
    margin-top: 10px;
    word-spacing: -0.1px;
    line-height: 17px;
    letter-spacing: -0.29px;
    font-size: 15px;
}

.block1 ul {
    margin-top: 27px; 
}

.button {
    position: absolute;
    font-family: "Signika";
    width: 193px;
    height: 33;
    left: 352px;
    bottom: 20;
    background: #18C3EB;
    text-align: center;
    line-height: 33px;  
    letter-spacing: -0.4px;
}

.rightcontent div {
    color: #6E7B8B;
}

a {
    color: #FDFDFD ; 
    text-decoration: none;
}

.location {
    font-family: "Lato";
    position: absolute;
    width: 193px;
    height: 33px;
}

.date {
    font-family: "Lato";
    position: absolute;
    height: 33;
    left: 149.5px;
    bottom: 11;
    background: url("../Img/date.png") no-repeat 3px 3px;
    color: #C2C8D0;
    background-size: 11px 12px;
    padding-left: 21px;
    font-size: 14px;
    letter-spacing: -0.2px;
}

.timeline {
    position: absolute;
    left: 568px;
    top: -5px;
    background: url("../Img/timeline.png") no-repeat;
    background-size: 67px  1053px;
    height: 1053px;
    width: 70px;
}

.block2 ul {
    margin-top: -8px; 
}

.block2 .date {
    left: 143px;
    padding-left: 27.7px;
    background-size: 10px 11px;
}

.footer {
    margin-top: 27px;
    padding-left:  464px;
    text-align: left;
    font-family: "Calibri";
    font-style: italic;
    font-size: 18px;
    margin-bottom: 50px;
    background: url("../Img/qoe1.png") no-repeat 410px -2px, url("../Img/qoe2.png") no-repeat 910px 0;
    background-size: 35px 33px;
    line-height: 30px;
    letter-spacing: -0.6px;
}

.content .h1 {
    font-size: 22px;  
    letter-spacing: 0.1px;
    line-height: 1.3; 
}

.block3 .button, .block4 .button {
    background: #AFBAC9;
}

.rightcontent .h1 span:nth-child(3) {
    color: #04B8D7;
    font-size: 16px;
}

.rightcontent .h1 span:nth-child(1) {
    color: #818C9D;
    font-size: 13px;
    word-spacing: 1px;
}

.rightcontent .button {
    background: #0ECCC0;
    left: 340px;
    font-size: 12px;
    letter-spacing: 0.9px
}

.rightcontent .location {
    background: url("../Img/loc2.png") no-repeat 3px 2px;
    background-size: 11px 12px;
    left: 18px;
    bottom: 11;
    background-size: 9px 12px;
    padding-left: 20px;
    font-size: 12px;
    letter-spacing: -0.4px;
}

.rightcontent .date {
     background: url("../Img/date2.png") no-repeat 3px 2px;
     background-size: 13px 12px;
     margin-left: -6px;
     font-size: 12px;
}

.rightcontent .h1 {
    font-size: 20px;
}

.rightcontent li  {
    padding: 6px 20px;
}

.leftcontent .location {
    left: 24px;
    bottom: 12;
    background: url("../Img/loc.png") no-repeat 3px 2px;
    color: #C2C8D0;
    background-size: 9px 12px;
    padding-left: 20px;
    font-size: 15px;
    letter-spacing: -0.4px;
}

.block8 .h1 span:nth-child(3), .block9 .h1 span:nth-child(3) {
    color: #01BBA5;
    font-size: 16px;
}

.block8 .location,.block8 .date, .block9 .location, .block9 .date  {
    bottom: -5px;
}

.rating {
    width: 140px;
    height: 30px;
    position: absolute;
    background: url("../Img/rate1.png") no-repeat;
    background-size: 86px 13px;
    left: 448px;
    bottom: -3px;
}

.block9 .rating {
    background: url("../Img/rate2.png") no-repeat;
    background-size: 86px 13px;
    left: 448px;
    bottom: -3px;
}

.block10 .icons div:nth-child(1):not(.bar) {
    background: url("../Img/icon1.png") no-repeat;
    background-size: 68px 68px;
}

.icons {
    margin: 8px 0;
}

.icons div{
    float: left;
    width: 72px;
    height: 94px;
    font-size: 12px;
    line-height:  170px;
}

.block10 .icons div:nth-child(2):not(.bar) {
    background: url("../Img/icon2.png") no-repeat 18px 0;
    background-size: 68px 68px;
    padding-left: 25px;
}

.block10 .icons div:nth-child(3):not(.bar) {
    background: url("../Img/icon3.png") no-repeat 13px 0;
    background-size: 68px 68px;
    padding-left: 16px;
}

.block10 .icons div:nth-child(4):not(.bar) {
    background: url("../Img/icon4.png") no-repeat 14px 0;
    background-size: 68px 68px;
    padding-left: 13px;
}

.block10 .icons div:nth-child(5):not(.bar) {
    background: url("../Img/icon5.png") no-repeat 20px 0;
    background-size: 68px 68px;
    padding-left: 17px;
}

.block10 .icons div:nth-child(6):not(.bar) {
    background: url("../Img/icon6.png") no-repeat 23px 0;
    background-size: 68px 68px;
    padding-left: 21px;
}


.bar {
    position: absolute;
    top: 110px;
    width: 540px;
    height: 180px;
}

progress {
  position: relative;
  background-color: #f3f3f3;
  border: 0;
  height: 0px;
  border-radius: 9px;
}

progress::-webkit-progress-bar {
   background: #DAE0E7;
    height: 13px;
    border-radius: 6px;
    width: 242px;
}
progress::-webkit-progress-value {
    background: #0ECCC0;
    border-radius: 6px 0 0 6px;
}
progress::-moz-progress-bar {
  /* стилевые правила */
}
progress:nth-child(1) {
    top: 40px;
}

.leftbar {
    position: absolute;
    float: left;
}

.rightbar {
    position: absolute;
    left: 285px;
}
.rightbar progress::-webkit-progress-value {
    background: #18C3EB;
}
.sign {
    margin-top: 31.7px;
    font-size: 15px;
    color: #32485E !important;
}

 .leftbar .value:nth-child(1) {
    position: absolute;
    background: url("../Img/80%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 172px;
    bottom: 145;
}

 .leftbar .value:nth-child(2) {
    position: absolute;
    background: url("../Img/55%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 112px;
    bottom: 92px;
}

 .leftbar .value2 {
     position: absolute;
    background: url("../Img/95%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 207px;
    bottom: 46px;
}


.value4 {
     position: absolute;
    background: url("../Img/85%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 185px;
    bottom: -5px;
}


 .value5 {
     position: absolute;
    background: url("../Img/60%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 151px;
    bottom: 144px;
}


 .value6 {
     position: absolute;
    background: url("../Img/75%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 166px;
    bottom: 94px;
}


.value7 {
    position: absolute;
    background: url("../Img/55%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 125px;
    bottom: 47px;
}

.value8{
    position: absolute;
    background: url("../Img/60%25.png") no-repeat;
    background-size: 40px 23px;
    width: 50px;
    height: 30px;
    left: 151px;
    bottom: -3px;
}
