body {
   padding: 0; 
   margin: 0;
   background: #E9ECF0;
   color:#32485E;
   font-family: 'Signika';
}

.head {
    position: relative;
    display:inline-block;
    margin: 74px 0 0 74px;
    width: 1199px;
    height: 262px;
}

.avatar {
    float: left;
    position: relative;
    display: inline-block;
    width:  387px;
    height: 262px;
    background: #FEFEFE;
}

.info {
    display: inline-block;
    position: relative;
    float: right;
    padding-left: 24px;
    padding-top: 38px; 
    width:  709px;
    height: 222px;
    background: #FEFEFE;
    font-size: 16px;
}

.content {
    position: relative;
    display:inline-block;
    margin: 34px 0 30px 74px;
    width: 1203px;
    height: 1045px;
}

.leftcontent {
    float: left;
    position: absolute;
    width: 565px;
    display: inline-block;
    height: 100%;
}

.rightcontent {
    display: inline-block;
    position: relative;
    float: right;
    margin-left: 79px;
    width:  557px;
    height: 100%;
}

.block1 {
    position: relative;
    display: block;
    width:  100%;
    height:  303px;
    background: #FEFEFE;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block2 {
    position: relative;
    display: block;
    margin-top: 29px;
    width:  100%;
    height:  286px;
    background: #FEFEFE;
}

.block3 {
    position: relative;
    display: block;
    margin-top: 29px;
    width:  100%;
    height:  152px;
    background: #FEFEFE;
}

.block4 {
    position: relative;
    display: block;
    margin-top: 29px;
    width:  100%;
    height:  149px;
    background: #FEFEFE;
}

.block5 {
    position: relative;
    display: block;
    width:  100%;
    height:  151px;
    background: #DAE0E7;  
}

.block6 {
    position: relative;
    display: block;
    margin-top: 28px;
    width:  100%;
    height:  151px;
    background: #DAE0E7;
}

.block8 {
    position: relative;
    display: block;
    margin-top: 30px;
    width:  100%;
    height:  113px;
    background: #DAE0E7;
}

.block7 {
    margin-top: 30px;
    border-top: 3px dotted grey;
}

.block9 {
    position: relative;
    display: block;
    margin-top: 30px;
    width:  100%;
    height:  115px;
    background: #DAE0E7;
}

.block10 {
    position: relative;
    display: block;
    margin-top: 30px;
    width:  100%;
    height:  357px;
    background: #FEFEFE;
}

h2 {
    font-size: 35px;
    font-weight: 100;
}

table {
    border-spacing:  0;
    text-align: justify;
}

td {
   padding-top: 29px;
   padding-left: 3px;
   line-height: 1.7;
    width: 52%;
}

.h1 {
    line-height: 0;
    font-size: 35px;
    padding: 0;
    padding-top: 20px;
    text-align: left;
    letter-spacing: -0.2px;
}

.avatar div {
    width: 96.7px;
    height: 71px;
    float: left;
    margin-top: 192px;
    color: #FEFEFE;
    font-size: 14px;
    font-family: 'Signika';
    text-align: center;
    line-height: 96px;
}



img {
    position: absolute;
    left: 21px;
    top: 31px;
    width: 130px;
}

.blue {
    position: relative;
    background: #18C3EB url("/img/sym1.png") no-repeat 50% 30%;
}

.red {
    background: #F95250 url("/img/sym2.png") no-repeat 50% 30%;;
}

.green {
    background: #0ECCC0 url("/img/sym3.png") no-repeat 50% 30%;;;
}

.black {
    background: #32485E url("/img/sym4.png") no-repeat 48% 30%;;;
}

.email {
    position: relative;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 35px;
    line-height: 1.1;
    text-align: center;
}

td {
    
}



.email p {
    letter-spacing: 2px;
    color: #F95250;
}

.bold {
    font-weight:bolder ;
}

.fontblue {
        color: #75D4F1;
}

.avatar p {
    position: absolute;
    left: 49.6%;
    top:16%;
    font-size: 26px;
}

.avatar p span {
    font-size: 17px;
}

hr {
    margin-top:34px;
    width: 243px;
}

/*
.rating-wrapper {
  overflow: hidden;
  display: inline-block;
}

.rating-input {
  position: absolute;
  left: 0;
  top: -50px;
}

.rating-star:hover,
.rating-star:hover~.rating-star {
  background-position: 0 0;
}

.rating-wrapper:hover .rating-star:hover,
.rating-wrapper:hover .rating-star:hover~.rating-star,
.rating-input:checked~.rating-star {
  background-position: 0 0;
}

.rating-star,
.rating-wrapper:hover .rating-star {
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url('http://css-stars.com/wp-content/uploads/2013/12/stars.png') 0 -16px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .responsive-ad {
    display: none;
    text-align: center;
  }
  .responsive-ad-device {
    display: block;
  }
}

@media screen and (min-device-width: 960px) {
  .responsive-ad-device {
    display: none;
  }
  .responsive-ad {
    display: block;
    text-align: center;
  }
}
*/
